
/* header section styles */
.header{background:#015478;padding:35px; color:#fff; border-radius: 5px;height: 100%;width:100%}
.header img{border:0; border-style: none;}
.header .h-title{font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif; font-weight: 700; font-style: normal; font-size: 22px; color: #FFFFFF;margin-bottom: 10px;;}
.header .h-img{width:120px;border-style: none;}
.header .h-img-container{float:left; margin-right:30px}
.header .h-content{color:#fff}

/* footer section styles */
.footer{background:#70b603;padding:15px; color:#fff; border-radius: 5px;height: 100%;display:block; width:100%}
.footer img{border:0; border-style: none;}
.footer .f-title{font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif; font-weight: 700; font-style: normal; font-size: 22px; color: #FFFFFF;margin-bottom: 10px;;}
.footer .f-img{width:111px;border-style: none;}
.footer .f-img-container{float:left; margin-right:30px}
.footer .f-content{color:#fff}

.font-normal{font-family: 'ArialMT', 'Arial', sans-serif; font-weight: 400;font-style: normal; letter-spacing: normal;}
.main{margin-top:10px;}
.card{
  border-width: 0px;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  width: 385px;
  height: 317px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(215, 215, 215, 1);
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
  box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
}

.front, .back{
  cursor: pointer;
}

/* card inactive styles */
.in-active .img-incomplete{width: 20px; float:right;margin:10px}
.in-active .div-main-inactive{width:180px; height:180px; border-radius: 50%; background-color: #f2f2f2;display:block; margin-left:auto; margin-right:auto;}
.in-active .img-main-inactive{width:120px;display:block; margin-left:auto; margin-right:auto;padding-top:25px}
.in-active .title-inactive{height: 40px;line-height: 40px; background-color: #aaaaaa; margin: auto; width: 100%;font-family: 'ArialMT', 'Arial', sans-serif; font-weight: 400; font-style: normal;font-size: 22px;color:#fff }

/* active card styles */
.active-card{background:#015478 !important}

/* card completed styles */
.completed{background:#027db4;}
.completed .img-completed{width: 20px; float:right;margin:10px}
.completed .div-main-completed{width:120px; height:120px; border-radius: 50%; background-color: #f2f2f2;display:block; margin:30px auto ;}
.completed .img-main-completed{width:80px;display:block; margin-left:auto; margin-right:auto;padding-top:25px}
.completed .title-completed{height: 40px;line-height: 25px; width: 85%;font-family: 'ArialMT', 'Arial', sans-serif; font-weight: 700; font-style: normal;font-size: 22px;color:#fff;border-bottom:1px dashed #fff ; margin:0px auto}
.completed .description-completed{color:#fff; width: 80%; margin: 0px auto; line-height: 20px; margin-top: 15px;font-size:18px;font-weight: 400;}
.completed .img-back{right:0; position:absolute;width:24px; height:24px;margin:22px 3px}
.completed .div-img-back{width: 0; height: 0;border-bottom: 50px solid #015478;border-left: 50px solid transparent;position: absolute;bottom: 0;right: 0; z-index: 1}


/* media queries for containers */
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
  max-width: 851px; padding-right: 0px;padding-left: 0px;margin-top:10px
}
.col-md-6{max-width: 50%; margin-bottom: 20px;}
}

@media (min-width: 320px) and (max-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 385px; margin-top:10px
  }
  .col-md-6{max-width: 100%;margin:0px auto; margin-bottom: 20px; padding:0 0}
  }


